body,html,#root {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.v-select.v-select--is-menu-active .v-input__icon--append .v-icon {
  transform: rotate(180deg);}
